{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %} New Item {% endblock %}
{% block settings %}
    {% include 'snippets/settings.html' %}
{% endblock settings %}

{% block content %}
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">{{ render_form(form) }}
    <a href="/collection/{{collection.id}}" class="btn btn-secondary">Back</a>
    </div>
    <div class="col-sm"></div>
</div>
{% endblock %}
