{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %} New Collection {% endblock %}
{% block settings %}
    {% include 'snippets/settings.html' %}
{% endblock settings %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <a href="/collection/list">← Go back to your list of collections</a>
    </div>
    <div class="col-sm">{{ render_form(form) }}
    <!-- <a href="{{ url_for('my_collections') }}" class="btn btn-secondary">Back</a> -->
    </div>
    <div class="col-sm"></div>
</div>
{% endblock %}
