<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <title>Gib Back</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script defer src="/static/fontawesome/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>

    {% endblock %}
</head>

<body>
    <nav class="navbar static-top navbar-dark bg-dark">
            <a class="navbar-brand mb-0 h1" id="rainbow-text" href="/">Gib Back</a>
            <span class="navbar-text" id="page-title">{% block title %}{% endblock %}</span>
            {% block searchbar %}
            {% endblock searchbar %}
            {% block settings %}
            {% endblock settings %}
    </nav>

    <div class="container">
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <em> {{ message }} </em>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
