{% extends 'base.html' %}
{% block title %} <i class="fas {{ collection.icon_class() }}"></i> {{ collection.name }} {% endblock %}
{% block searchbar %}
    {% include 'snippets/searchbar.html' %}
{% endblock searchbar %}
{% block settings %}
    {% include 'snippets/settings.html' %}
{% endblock settings %}

{% block content %}
<a href="/collection/list">← Go back to your list of collections</a>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Subtype</th>
        <th scope="col">Description</th>
        <th scope="col">Current Owner</th>
        <th scope="col">Lent Date</th>
        <!-- <th scope="col">Expected Return Date</th> -->
        <th scope="col">Location</th>
        <th scope="col" class="center-col">Edit</th>
        <th scope="col" class="center-col">Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                {% if item.subtype %}
                    <td>{{ item.subtype }}</td>
                {% else %}
                    <td><span class="grayout"> - </span></td>
                {% endif %}

                {% if item.description %}
                    <td>{{ item.description }}</td>
                {% else %}
                    <td><span class="grayout"> - </span></td>
                {% endif %}

                {% if item.current_owner %}
                    <td>{{ item.current_owner }}</td>
                {% else %}
                    <td><span class="grayout"> me </span></td>
                {% endif %}

                {% if item.lent_date %}
                    <td>{{ item.lent_date }}</td>
                {% else %}
                    <td><span class="grayout"> - </span></td>
                {% endif %}

                {% if item.location %}
                    <td>{{ item.location }}</td>
                {% else %}
                    <td><span class="grayout"> - </span></td>
                {% endif %}
                <td class="center-col">
                    <a href="/collection/{{collection.id}}/item/{{item.id}}/edit"><i class="fas fa-edit"></i></a>
                </td>
                <td class="center-col">
                    <i class="fas fa-trash"></i>
                    </td>

                <!-- <td>{{ item.subtype if item.subtype else "-"}}</td>
                <td>{{ item.description if item.description else "-"}}</td>
                <td>{{ item.current_owner if item.current_owner else "-"}}</td>
                <td>{{ item.lent_date if item.lent_date else "-"}}</td>
                <td>{{ item.location if item.location else "-" }}</td> -->
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="/collection/{{collection.id}}/item/new" class="btn btn-success">Add new item</a>
{% endblock %}
