{% extends 'base.html' %}
{% block title %} My Collections {% endblock %}
{% block searchbar %}
    {% include 'snippets/searchbar.html' %}
{% endblock searchbar %}
{% block settings %}
    {% include 'snippets/settings.html' %}
{% endblock settings %}

{% block content %}
<table class="table">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">No. Items</th>
        <th scope="col">No. Lent Items</th>
        <th scope="col">No. Overdue Items</th>
        <th scope="col" class="center-col">Edit</th>
        <th scope="col" class="center-col">Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for collection in collections %}
            <tr>
                <td><a href="/collection/{{ collection[0].id }}">{{ collection[0].name }}</a></td>
                <td><i class="fas {{ collection[0].icon_class() }}"></i>&nbsp;{{ collection[0].collection_type }}</td>
                <td>{{ collection[1]}}</td>
                <td>{{ "-" }}</td>
                <td>{{ "-" }}</td>
                <td class="center-col">
                    <a href="/collection/{{collection[0].id}}/edit"><i class="fas fa-edit"></i></a>
                </td>
                <td class="center-col">
                    <i class="fas fa-trash"></i>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_collection') }}" class="btn btn-success">Add new collection</a>
{% endblock %}
