{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %} Edit <em>{{ item.name }}</em> {% endblock %}
{% block settings %}
    {% include 'snippets/settings.html' %}
{% endblock settings %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <a href="/collection/{{collection.id}}">← Go Back to the collection</a>
    </div>
    <div class="col-sm">{{ render_form(form) }}
    <!-- <a href="/collection/{{collection.id}}" class="btn btn-secondary">Back</a> -->
    </div>
    <div class="col-sm"></div>
</div>
{% endblock %}

