{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
            <div class="text-home"> Gib Back is an app to keep track of your own things</div>
            <img alt="home" src="/static/alpaca.png"><br>
            <div class="buttons">
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
                <a href="{{ url_for('signup') }}" class="btn btn-primary">Sign up</a>
            </div>
    </div>
    <div class="col-sm"></div>
{% endblock %}
