{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">{{ render_form(form) }}
        Not an user yet? <a href="{{ url_for('signup') }}">Sign up</a>
    </div>
    <div class="col-sm"></div>
</div>
{% endblock %}
