{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %} Signup {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        {{ render_form(form) }}
        Already an user? <a href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="col-sm"></div>
</div>
{% endblock %}

