/* Rainbow Gib Back text  */
#rainbow-text {
    background-image: linear-gradient(to left, violet, #ba83e2, #64a6ec, #87f787, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4em;
    font-family: calibri;
    font-weight: bolder;
  }
/* Title page in navbar */
#page-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to left, violet, #ba83e2, #64a6ec, #87f787, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Margin between navbar and main content. It applies to all pages */
.container {
    margin-top: 2em;
}

/* Empty data in the tables */
.grayout {
    color: lightgrey;
}

/* Elements in home */
.text-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    margin: auto;
    margin-top: 14px;
    border-style: none;
    max-width: 300px;
    height: auto;
    border: 3px solid #007bfe;
    border-radius: 300px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

/* WTForms buttons style */
.btn-secondary {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

/* Center icons for edit and delete in tables views */
.center-col {
    text-align: center;
}

/* Setting Cog icon */
#dropdownMenuButton {
    background-color: #343a40!important;
    border-color: #343a40!important;
}