<div class="dropdown dropleft">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">My Account</a>
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
</div>